html,
body {
  width: 490px;
  height: 330px;
  margin: 0;
  overflow: hidden;
  background: #02060b;
}

.launcher {
  width: 490px;
  height: 330px;
  overflow: hidden;
  background: #02040c;
}

.single-banner {
  display: block;
  width: 100%;
  height: auto;
}
